.a{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family:prague;
    letter-spacing: 3px;
}
.b{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}

.img123{
    width: 80%;
}

button{
    background: orange!important;
}
.c{
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,
    url(../image/andre-hunter-p-I9wV811qk-unsplash.jpg);
    width: 100%;
}

.d{
    font-size: 35px;
    font-family: sans-serif;
    margin-bottom: 10px;
    color: white;

}
.e{
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    color: white;
}
.f{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px; 
}

.weblogo {
    width: 65px;
}

.navbar {
    background: #000000a6 !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    font-size: 20px;
}

.moblogo {
    display: none;
}

@media(max-width:768px) {
    .moblogo {
        display: block;
    }

    .weblogo {
        display: none;
    }

    .navbar {
        background: #fbac1b !important;
    }
}

.footer{
    background: #020306f0;
    padding: 50px;
    color: #fff;
}
.ml-1{
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    font-size: 2rem;
    line-height: 50px;
    letter-spacing: 3px;
    color: #fff;
}
.footerp{
    color: white;
}